<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=19ee4c56-230f-4cea-a7d2-5b4f43d071ce&lang=ru_RU" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "./src/templates/geo-content.hbs"}}
  </div>
</body>
</html>
